<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Test Smart Table</title>
        <script type="text/JavaScript" src="{{ asset('components/jquery/jquery.min.js') }}"></script>
        <script type="text/JavaScript" src="{{ asset('components/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/JavaScript" src="{{ asset('js/DataTables-1.10.2/media/js/jquery.dataTables.js') }}"></script>
        <script type="text/JavaScript" src="{{ asset('js/DataTables-bootstrap/dataTables.bootstrap.js') }}"></script>
        <script type="text/JavaScript" src="{{ asset('js/ajax-overlay.js') }}"></script>
        <script type="text/JavaScript" src="{{ asset('js/smartTable.js') }}"></script>
        
        <link rel="stylesheet" type="text/css" href="{{ asset('components/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('components/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('js/DataTables-bootstrap/dataTables.bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/spinner.css') }}" />
    </head>
    <body>

    {% block body %}
    {% endblock body %}
    
    </body>
</html>